*{
    margin: 0;
    padding: 0;
}

body{
background-color: (235,235,236);
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.title{
    padding-top: 2rem;
    margin-left: 2rem;

}

h5{
    padding-top: 2rem;
    margin-left: 8rem;
}
li{
    list-style: none;
    margin-left: 2rem;
    margin-top: 1rem;
}

button{
    width: 1.5rem;
    height: 1rem;
    margin-right: 1.5rem;
    background-color: red;
    color: white;
}

input{
    margin-right: 1rem;  
}

